.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    button {
        border: none;
        width: 100%;
        max-width: 280px;
        padding-top: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px rgba(0, 0, 0, 0.24);

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        span {
            margin-right: 10px;
            font-size: 18px;
        }
    }

    a {
        color: white;
    }

    .social-login--github {
        background-color: $black;
    }

    .social-login--facebook {
        background-color: #3a5998;
    }
}